.all {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#F9629F;
    text-align: center;
    letter-spacing: 2px;
}
.container{
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    background-color: #FFC0CB;

}
.table{
    display: flex;
    width: 100vw;
    justify-content: center;
}
table{
    background-color: paleturquoise;
    border-radius: 15px;
}
a:hover {
    color: tomato;
}
th {
    color:blue;
    text-align :center;
    font-family :'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}
td {
    text-align :center;
    font-family :'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}
.fleche{
    display:flex;
    width: 100vw;
    justify-content: flex-end;
}
body{
    background-image:"../images/back.png";
}